@model MvcMovie.Models.User

<h2>Login</h2>

@using (Html.BeginForm("Login", "Users", FormMethod.Post))
{
    @Html.LabelFor(m => m.Username)
    @Html.TextBoxFor(m => m.Username)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    <input type="submit" value="Login" />
}